---
import Navbar from '../components/NavBar';
import LoginForm from '../components/LoginForm';
---
<html lang="es">
  <head>
    <title>Login - CursosMason</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Navbar client:load />
    <LoginForm client:load />
  </body>
</html>