---
import Navbar from '../components/NavBar';
import RegisterForm from '../components/RegisterForm';
---
<html lang="es">
  <head>
    <title>Registro - CursosMason</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <Navbar client:load />
    <RegisterForm client:load />
  </body>
</html>